.jumbotron .display-4 {
	color: white;
	font-size: 20;
	margin-top: 200px;
}	
.jumbotron .btn {
	background-color: #FFA500;
	border: none;
	border-radius: 25px;
	border-right: 25px;
	border-left: 25px;
}
.carousel-item {
	height: 670px;
}
.carousel-item .img {
	margin-top: -120px;
}
.carousel-item .display-4 {
	margin-top: -350px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
}
.parallax-window {
    min-height: 600px;
   	margin-top: 800;
   	background: transparent;
}
.jumbotron .card-body {
	background-size: 30px;
}